.modal {
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(39, 32, 32, 0.429);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;

    // Video Modal
    &.video-modal {
        display: none;
    }

    &.discount-modal {
        background-color: rgba(10, 0, 0, 0.9);
        z-index: 10;
    }



    // big-video-modal
    &.big-video-modal {
        display: none;
    }

    &.active {
        display: flex;
    }

    .modal-content {
        transform: scale(1);
        transition: .5s ease;
        background-color: $white;
        padding: 50px 25px;
        border: 1px solid $white-off;
        width: 80%;
        text-align: center;
        position: relative;

        // big video modal content
        &.big-video-modal-content {
            @include modalRepeat($dark);

            .video {
                width: calc(100% - 45px);
                height: calc(100% - 25px);

                iframe {
                    // width: 90%;
                }
            }
        }

        // Video modal content
        &.video-modal-content {
            @include modalRepeat($dark);
        }

        &.discount-modal-content {
            max-width: 750px;
        }


        // responsive
        @include responsive(xs) {
            min-width: 320px;
            border-radius: 20px;
            padding: 25px;
            overflow: hidden;
        }





        // close button
        .close-btn {
            position: absolute;
            top: 25px;
            right: 30px;

            // responsive
            @include responsive(xs) {
                right: -4px;
                top: -4px;
                border-top-right-radius: 20px;
                width: 37px;
                height: 37px;
                @include padding(15px, 15px, _, _);
                background-color: $gray;
                color: $white;

                &:hover {
                    color: $gray;
                }
            }
        }

        .btn-fill-dark {
            padding: 25px 15px;
        }

        // h2
        h2 {
            color: $cadet-blue;
        }

        .sub-title {
            @include font($font-2xl, $fw-400, _, _, _, _)
        }


        .input-group {
            background-color: $white-off2;
        }

    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    display: none;
}


//__________  Notification  __________
.notification {
    position: fixed;
    bottom: 50px;
    left: 50px;
    padding: 25px;
    background-color: $red;
    border-radius: 4px;
    z-index: 6;
    width: fit-content;
    color: $white;
    transform: translateX(-120%);
    transition: .3s linear;
    animation: rightNotification 12s ease-in-out infinite;

    // responsive
    @include responsive(xs) {
        left: 20px;
        bottom: 20px;
        padding: 25px 15px;
    }

    &.hide {
        transition: .3s;
        display: none;
        transform: translateX(-120%);
    }



    // Box with a triangular pointer effect
    .three-box {
        width: 22px;
        height: 22px;
        border: 0px solid transparent;
        position: absolute;
        top: -10px;
        left: 25px;
        background-color: $red;
        z-index: 6;
        transform: rotate(45deg);
    }


    .btn-fill-dark {
        border-radius: 4px;
        padding: 12px 20px;
    }

    &.active {
        transform: translateX(0px);
    }
}

@keyframes rightNotification {
    0% {
        transform: translateX(-120%); // Start off-screen to the right
    }

    10% {
        transform: translateX(0); // Slide in quickly
    }

    50% {
        transform: translateX(0); // Stay in position for 4s
    }

    65% {
        transform: translateX(-120%); // Slide out to the left
    }

    90% {
        transform: translateX(-120%); // Stay off-screen to the left for 4s
    }

    100% {
        transform: translateX(-120%); // Slide back in from the right
    }
}



// Message
.message-btn {
    position: fixed;
    right: 25px;
    bottom: 25px;
    font-size: $font-5xl;
    color: $white;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    background-color: $red;
    z-index: 6;
    display: none;

    &.active {
        display: flex;
    }

    &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: $red;
        border-radius: 50%;
        left: 0;
        top: 0;
        animation: facebookAni 2.3s infinite ease-in-out;
        z-index: -1;
    }

    i {
        animation: scale .4s linear infinite alternate;
    }

}


@keyframes facebookAni {
    0% {
        transform: scale(1);
        opacity: .7;
    }

    100% {
        transform: scale(1.6);
        opacity: .05;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.07);
    }

    0% {
        transform: scale(.9);
    }
}




// Modal What new and message
.what-new-modal {
    position: fixed;
    top: 0px;
    right: -120%;
    width: 450px;
    height: 100dvh;
    background-color: $white-off;
    box-shadow: $shadow-2;
    z-index: 5;
    transition: 1s ease-in-out;
    opacity: 0;

    // Header
    .head {
        height: 60px;
        background-image: linear-gradient(to right, $red, $green);
        padding: 0 20px;

        .close-btn {
            color: $white;

            &:hover {
                color: $dark;
                background-color: transparent;
            }
        }
    }

    // body
    .body {
        height: calc(100dvh - 110px);
        padding: 15px 12px;
        overflow: auto;

        .body-items {
            .body-item {
                background-color: $white;
                border: 1px solid $white-off;
                padding-top: 10px;
                box-shadow: $shadow-1;
                border-radius: 4px;

                // top
                .top {
                    padding: 0 10px;

                    .date-area {

                        .tag {
                            font-size: $font-xs - 1px;
                            background-color: $red;
                            padding: 4px 8px;
                            border-radius: 10px;
                            color: $white;
                            font-weight: $fw-400;
                        }

                        .date {
                            color: $gray-off;
                            font-size: $font-sm;
                            font-weight: $fw-500;
                        }
                    }

                    .body-item-title {
                        font-size: $font-2xl;
                        color: $blue;

                        &:hover a {
                            text-decoration: underline;
                        }
                    }
                }

                // Desc
                .desc {
                    padding: 0 10px;
                    font-size: $font-md;
                    border-bottom: 2px solid $white-off2;

                    .course-link {
                        text-decoration: underline;
                        color: $blue;
                    }

                    // video
                    .video {
                        .video-title {
                            color: $blue;
                            margin: 10px 0;
                            padding-bottom: 10px;
                            font-size: $font-lg;

                            &:hover {
                                text-decoration: underline;
                            }
                        }

                        .icons {
                            margin-bottom: -11px;
                            font-size: $font-2xl;
                        }
                    }


                }

                // feedback
                .feedback {
                    background-color: $white-off2;
                    padding: 20px 10px 15px;

                    .feedback-area {
                        background-color: $white;
                        display: grid;
                        padding: 8px 10px;
                        grid-template-columns: 1fr 20px;
                        border: 1px solid $dark-white;

                        button {
                            font-size: $font-3xl;

                            &:hover {
                                color: $blue;
                            }
                        }
                    }
                }
            }
        }


    }

    // footer
    .footer {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 50px;
        text-align: center;
        background-color: $dark-white;
        box-shadow: $shadow-2;
        border-top: 1px solid $white-off2;
    }


    // active
    &.active {
        display: block;
        right: 0;
        opacity: 1;
    }




    // Message Modal
    &.message-modal {
        background-color: $white;
        padding: 10px 15px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;

        // Head
        .head {
            color: $dark;
            background-image: unset;

            // Flex start
            .flex-start {
                align-items: center;

                img {
                    width: 45px;
                }
            }

            // close btn
            .close-btn {
                color: $dark;
            }
        }

        // close head


        // message modal body
        .body {

            .body-items {
                font-size: $font-lg;

                &.active {
                    display: none;
                }

                .body-top {

                    .search {
                        padding: 5px;
                        padding-right: 15px;
                        background-color: $dark-white;

                        input {
                            font-size: $font-lg;
                            background-color: transparent;
                            padding: 12px;

                        }
                    }
                }

                // body top end
                .body-resources {
                    .sub-title {
                        color: $red;
                    }

                    .body-resources-items {

                        // Singe resources item
                        .body-resources-item {
                            padding: 15px;
                            border: 1px solid $dark-white;
                            border-radius: 12px;
                            cursor: pointer;

                            .left {
                                width: 60px;
                                height: 60px;
                                border-radius: 50%;
                                background-color: $white-off2;
                                color: $red;
                            }

                            .text {
                                width: calc(100% - 80px);
                            }

                            &:hover {
                                box-shadow: $shadow-1;
                            }
                        }

                        // single resource item end
                    }
                }
            }
        }

        //message body end

        // platform body start
        .platfrom-body {
            &.active {
                display: block;
            }

            overflow-y: auto;
            width: 100%;
            height: fit-content;
            background-color:$white-off2;
            padding:15px 12px;
            border-radius: 12px;
            display: none;

            ul {
                li {
                    a {
                        color: $blue;
                        font-weight: $fw-500;
                    }

                    font-size: $font-lg;
                    line-height: 26px;
                    font-weight: $fw-500;
                }
            }
        }

        // Message Footer
        .footer {

            .btn-fill-dark {
                &.active {
                    display: none;
                }

                background-color: $red;
                border-radius: 8px;
                padding: 15px;
                position: relative;
            }

            // toltiop
            .chat-toltip {
                position: fixed;
                width: 300px;
                height: 130px;
                bottom: 50px;
                right: 20px;
                border: 1px solid $white-off2;
                padding: 10px 15px;
                background-color: $white;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
                z-index: 7;
                box-shadow: $shadow-1;
                display: none;

                &.flex-column {
                    justify-content: center;
                    align-items: center;
                }

                .option {
                    color: $cadet-blue;
                    padding: 10px;
                    border: 1px solid $white-off2;
                    width: 100%;
                    background-color: $white-off;

                    &:hover {
                        background-color: $dark-white;
                    }
                }

                &.active {
                    display: flex;
                }
            }
        }


        // Platform footer
        .platfrom-footer {

            .btn-fill-dark {
                &.active {
                    display: flex;
                }

                width: 100%;
                height: 50px;
                display: none;

                span {
                    i {
                        margin-top: 1px;
                    }
                }
            }
        }

    }
}