.modal {
    position: fixed;
    z-index: 6;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.233);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;



    .modal-content {
        transform: scale(1);
        transition: .5s ease;
        background-color: $white;
        padding: 50px 25px;
        border: 1px solid $white-off;
        width: 80%;
        max-width: 550px;
        text-align: center;
        position: relative;


        // responsive
        @include responsive(xs) {
            min-width: 320px;
            border-radius: 20px;
            padding: 25px;
            overflow: hidden;
        }





        // close button
        .close-btn {
            position: absolute;
            top: 25px;
            right: 30px;

            // responsive
            @include responsive(xs) {
                right: -4px;
                top: -4px;
                border-top-right-radius: 20px;
                width: 37px;
                height: 37px;
                @include padding(15px, 15px, _, _);
                background-color: $gray;
                color: $white;

                &:hover {
                    color: $gray;
                }
            }
        }

        .btn-fill-dark {
            padding: 14px 15px;
        }

        // h2
        h2 {
            color: $cadet-blue;
        }

        .sub-title {
            @include font($font-2xl, $fw-400, _, _, _, _)
        }


        .input-group {
            background-color: $white-off2;
        }

    }
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
    display: none;
}


//__________  Notification  __________
.notification {
    position: fixed;
    bottom: 50px;
    left: 50px;
    padding: 25px;
    background-color: $red;
    border-radius: 4px;
    z-index: 6;
    width: fit-content;
    color: $white;
    transform: translateX(-120%);
    transition: .3s linear;
    animation: rightNotification 12s ease-in-out infinite;

    // responsive
    @include responsive(xs) {
        left: 20px;
        bottom: 20px;
        padding: 25px 15px;
    }

    &.hide {
        transition: .3s;
        display: none;
        transform: translateX(-120%);
    }



    // Box with a triangular pointer effect
    .three-box {
        width: 22px;
        height: 22px;
        border: 0px solid transparent;
        position: absolute;
        top: -10px;
        left: 25px;
        background-color: $red;
        z-index: 6;
        transform: rotate(45deg);
    }


    .btn-fill-dark {
        border-radius: 4px;
        padding: 12px 20px;
    }

    &.active {
        transform: translateX(0px);
    }
}

@keyframes rightNotification {
    0% {
        transform: translateX(-120%); // Start off-screen to the right
    }

    10% {
        transform: translateX(0); // Slide in quickly
    }

    50% {
        transform: translateX(0); // Stay in position for 4s
    }

    65% {
        transform: translateX(-120%); // Slide out to the left
    }

    90% {
        transform: translateX(-120%); // Stay off-screen to the left for 4s
    }

    100% {
        transform: translateX(-120%); // Slide back in from the right
    }
}