// Color
$red: #d22121;
$green: #f47e49;
$orange: #ffba00;
$blue: #2ea2cc;
$cadet-blue: #515151;
$khaki: #b3af54;
$gray: #767676;
$dark: #1e1e1e;
$gray-off: #bb7878;
$white-off: #f8f8f8;
$white-off2: #faeeee;
$white: #fff;
$dark-white: #e9e6ed;
$sky-blue: #7F54B3;
$rgba-1: #ecc0c01c;
$rgba-2: #a11b1b79;
$rgba-3: #1a0404af;

// Font Family
$font-roboto: 'Roboto', sans-serif;
$font-cursive: cursive;
$font-mon: 'Montserrat', sans-serif;


// Font Size
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 17px;
$font-xl: 18px;
$font-2xl: 20px;
$font-3xl: 22px;
$font-4xl: 24px;
$font-5xl: 36px;
$font-6xl: 46px;

// Font Weight
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;


// shadow
$shadow-1: 0px 2px 5px rgba(0, 0, 0, 0.05);
$shadow-2: 0px 3px 10px rgba(0, 0, 0, .15);
$shadow-white: 0px 3px 10px rgba(255, 255, 255, 0.15);