//==============  blog page  ===============
.blog-page {
    margin-top: 180px;

    .blog {

        .blog-area {
            align-items: flex-start;

            // =============   Blog Data  ============
            .blog-data {
                width: calc(100% - 370px);

                // head
                .head {
                    .britcamp {
                        a {
                            color: $gray;
                            display: inline-flex;
                            padding: 2px;
                            font-size: $font-md;

                            &:hover {
                                color: $khaki;
                            }
                        }

                        .name {
                            color: $khaki;
                        }
                    }
                }


                // blog-desc
                .blog-desc {
                    height: fit-content;

                    //======== social-media =======
                    .social-media-sticky {
                        height: 5000px;

                        .social-media {
                            position: sticky;
                            top: 10px;
                            z-index: 4;
                            padding-left: 15px;
                            box-shadow: $shadow-1;
                            border: 1px solid $white-off;
                            padding: 15px;
                            border-radius: 10px;
                            align-items: center;

                            .item {
                                height: 50px;
                                width: 50px;
                                cursor: pointer;
                                border-radius: 50%;

                                border: 2px solid $dark-white;

                                &:hover {
                                    background-color: $red;
                                    color: $white;
                                }
                            }
                        }

                    }



                    // desc items
                    ul {
                        padding-right: 20px;

                        li {
                            .sub-title {
                                font-weight: $fw-600;
                                font-size: $font-4xl;
                            }

                            .list {
                                list-style: disc;
                                padding: 0 50px;

                                li {
                                    margin: 5px 0;
                                }
                            }
                        }
                    }


                    // =========== advice  ===========
                    .advice {
                        border: 1px solid $dark-white;
                        align-items: stretch;

                        .left,
                        .right {
                            padding: 50px 40px;

                            .arrow {
                                display: block;
                                padding: 20px 22px;
                                background-color: $dark-white;
                                border-radius: 50%;

                                &:hover {
                                    transition: .3s ease;
                                    background-color: $red;
                                    color: $white;
                                }
                            }

                            a:hover {
                                color: $khaki;
                            }
                        }

                        .border {
                            // height:;
                            width: 1px;
                            background-color: $dark-white;
                        }
                    }
                }


                // ==========  comments  ===========
                .comments {
                    padding-right: 20px;

                    .sub-title {
                        font-size: $font-4xl;
                        color: $dark;
                        font-weight: $fw-500;
                        padding-bottom: 20px;
                        border-bottom: 1px solid $dark-white;
                    }

                    .comments-items {
                        width: 100%;
                        padding: 0;

                        // single comment item
                        .comment-item {
                            width: 100%;

                            .profile {
                                flex-grow: 1;
                                justify-content: flex-start;
                                padding: 15px 0;

                                img {
                                    width: 100px;
                                    height: 100px;
                                    border-radius: 50%;
                                }
                            }

                            // login btn
                            .reply-btn {
                                width: 150px;
                                text-align: right;
                                color: $gray;

                                &:hover {
                                    color: $khaki;
                                }
                            }

                            // user comment
                            .user-comment,
                            .reply-comment {
                                border-bottom: 1px solid $dark-white;
                            }

                            // reply comment
                            .reply-comment {
                                width: 84%;
                                margin-left: auto;

                                .profile {
                                    img {
                                        height: 60px;
                                        width: 60px;
                                    }
                                }
                            }
                        }
                    }


                    // Login option
                    .login-option {
                        @include facebookGoogleLogin;
                    }


                    // suggest-blog-area
                    .suggest-blog-area {
                        h2 {
                            border-bottom: 1px solid $dark-white;
                            padding-bottom: 20px;
                        }

                        .title {
                            font-size: $font-xl;
                            font-weight: $fw-600;

                            &:hover {
                                color: $khaki;
                            }
                        }
                    }
                }
            }



            // =============  Right  ============
            .right {
                width: 300px;

                // sub title
                .sub-title {
                    position: relative;
                    color: $dark;

                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: -10px;
                        width: 50px;
                        height: 2px;
                        background-color: $dark;
                    }
                }

                // Online courses
                .online-course {
                    width: 300px;

                    .online-course-items {
                        .online-course-item {
                            .img-area {
                                img {
                                    border-radius: 4px;
                                    height: 100px;
                                }
                            }

                            // data
                            .data {
                                a {
                                    &:hover {
                                        color: $khaki;
                                    }
                                }
                            }
                        }
                    }
                }


                // blog categories
                .blog-categories {
                    .blog-categorie-items {
                        padding-left: 30px;

                        li {
                            list-style: disc;

                            a:hover {
                                color: $khaki;
                            }
                        }
                    }
                }


                // group
                .group {
                    height: 3500px;

                    .group-sticky {
                        position: sticky;
                        top: 0;

                    }
                }
            }

        }


    }
}