.big-video {
    .big-video-area {
        width: 100%;
        height: 600px;
        background-color: $dark;
        position: relative;

        .video-img {
            &::after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: $rgba-3;
                z-index: 1;
            }

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

            }
        }

        video {
            width: 100%;
            height: 100%;
        }


        .big-video-play-btn {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            width: 120px;
            height: 120px;
            border: 4px solid $white-off2;
            color: $white-off2;
            border-radius: 50%;
            z-index: 2;
            font-size: $font-5xl;
            cursor: pointer;
            transition: .0s linear;


            &:hover {
                border-color: $red;
                color: $red;
            }

            &:hover i {
                transition: transform .1s ease-in-out;
                transform: scale(1.1);
            }
        }
    }
}








// featured-courses
.featured-courses {
    .featured-area {
        .featured-head {
            .all-courses {
                border-bottom: 1px solid $cadet-blue;
            }
        }

        .featured-items {
            margin-top: 40px;

            // feature single item
            .featured-item {
                background-color: $white;
                box-shadow: $shadow-1;
                border: 1px solid $white-off;
                padding-bottom: 5px;

                // top
                .top {
                    position: relative;
                    max-height: 300px;
                    overflow: hidden;


                    // top tag
                    .tag {
                        position: absolute;
                        left: -70px;
                        top: -17px;
                        background-color: $khaki;
                        width: 185px;
                        padding: 40px;
                        color: $white-off2;
                        text-transform: uppercase;
                        text-align: center;
                        transform: rotate(320deg);
                        padding-bottom: 12px;
                    }

                    // image
                    .img-area {
                        border: 5px solid $cadet-blue;
                        border-top-color: $white;
                        border-left-color: $white;

                        img {
                            height: 250px;
                        }
                    }

                    // absulate
                    .absulate {
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        width: 100%;
                        padding-right: 10px;

                        // price
                        .price {
                            background-color: $white;
                            padding: 12px 20px;
                            font-size: $font-2xl;

                            .new-price {
                                color: $khaki;
                                font-weight: $fw-600;
                            }

                            .old-price {
                                text-decoration: line-through;
                                font-style: italic;
                                font-weight: $fw-400;
                                color: $gray;
                            }
                        }

                        .rating {
                            color: $orange;

                            i {
                                margin-left: -3px;
                            }
                        }

                    }
                }

                // bottom
                .body {
                    padding: 20px;

                    .title {
                        font-size: $font-2xl;
                        color: $dark;
                        line-height: 29px;

                        &:hover {
                            color: $khaki;
                        }
                    }

                    // bottom
                    .bottom {
                        margin-top: 15px;
                        font-size: $font-sm;

                        a {
                            color: $khaki;

                            &:hover {
                                color: $dark;
                            }
                        }
                    }
                }

                // hover in item
                &:hover .tag {
                    background-color: $orange;
                }

                &:hover {
                    outline: 3px solid $white-off2;
                }
            }

        }

    }
}