.brand {
    background-color: $white;
    padding: 25px 0;
    width: 100%;
    overflow: hidden;

    .brand-area {
        animation: slide 15s linear infinite;

        .brand-item {
            min-width: 170px;

            img {
                width: 100%;
                max-height: 50px;
                filter: grayscale(50%);

                &:hover {
                    filter: grayscale(0%);
                }

            }
        }

        @keyframes slide {
            0% {
                transform: translateX(0);
            }

            100% {
                transform: translateX(-50%);
            }

            0% {
                transform: translateX(0%);
            }
        }
    }
}