.header {
    .header-area {

        //________  Header Top  ________
        .header-top {
            background-color: $dark;
            color: $white;


            .header-top-area {

                // Header Top Left
                .header-top-left {
                    padding: 20px 0;

                    &.flex-start {
                        align-items: flex-start;
                    }

                    a {
                        &:hover {
                            color: $red;
                        }
                    }
                }

                // Header Top Right
                .header-top-right {

                    // Pages
                    .pages {
                        span {
                            display: inline-block;
                            margin-top: -1px;
                        }

                        a {
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    // SearchButton
                    .search {
                        height: 61px;

                        // Search Frield Area
                        .search-frield-area {
                            transition: .3s linear;
                            background-color: $rgba-1;
                            height: 61px;
                            width: 0;
                            padding: 0px;

                            input {
                                background-color: transparent;
                                padding: 2px;
                                color: $gray-off;
                                border-bottom: 1px solid transparent;

                                &:hover {
                                    border-bottom: 1px solid $gray-off;
                                }

                                &::placeholder {
                                    color: $gray-off;
                                }
                            }
                        }


                        // Search hover in open input
                        &:hover .search-frield-area {
                            width: 280px;
                            padding: 0 25px;
                        }


                        // Search Button
                        .search-btn {
                            background-color: $rgba-1;
                            height: 61px;
                            width: 65px;
                            display: block;
                        }
                    }


                    // cart button area
                    .cart-btn-area {
                        position: relative;


                        // Cart Button
                        .cart-btn {
                            height: 61px;
                            position: relative;


                            &::after {
                                content: '';
                                position: absolute;
                                top: 0;
                                left: -15px;
                                width: 0px;
                                height: 100%;
                                background-color: $rgba-1;
                            }

                            &:hover::after {
                                width: 45px;
                            }
                        }

                        // cart btn end

                        // cart dropdown
                        .cart-dropdown {
                            position: absolute;
                            right: -15px;
                            bottom: -70px;
                            box-shadow: $shadow-1;
                            background-color: $white;
                            width: fit-content;
                            text-wrap: nowrap;
                            color: $gray;
                            transition: .3s linear;
                            transform: scale(0);
                            transform-origin: top;
                            padding: 25px;
                            opacity: 0;
                        }

                        // Hover
                        .cart-dropdown.active {
                            transform: scale(1);
                            opacity: 1;
                            z-index: 6;
                            border: 1px solid $white-off
                        }
                    }
                }
            }
        }




        //________  Header Main   ________
        .header-main {
            position: absolute;
            top: 66px;
            left: 0;
            z-index: 5;
            width: 100%;
            background-image: linear-gradient(to right, rgba(247, 199, 199, 0.507), rgba(241, 210, 210, 0.612));
            color: $white;

            &.to-right {
                background-image: linear-gradient(to right, rgba(254, 255, 253, 0.655), rgba(250, 220, 220, 0.724)) !important;
            }

            .header-main-area {
                padding: 10px 0;

                // Logo
                .logo {
                    img {
                        height: 60px;
                    }
                }

                // header main menu
                .header-main-menu {

                    .menu-items {
                        .menu-item {
                            position: relative;
                            padding: 20px 0;
                            color: $dark;

                            // Dropdown
                            .dropdown {
                                height: 0;
                                overflow: hidden;
                                position: absolute;
                                top: 50px;
                                left: 0;
                                background-color: $white;
                                width: 250px;
                                z-index: 5;
                                box-shadow: $shadow-1;
                                transition: .2s linear;

                                ul {
                                    li {
                                        padding: 0px 20px;
                                        transition: .3s linear;

                                        a {
                                            border-bottom: 1px solid $dark-white;
                                            display: block;
                                            padding: 15px 0;
                                        }

                                        // hover
                                        &:hover {
                                            background-color: $white-off2;
                                            font-weight: $fw-600;
                                            padding-left: 36px;
                                        }
                                    }

                                    li:last-child a {
                                        border: none;
                                    }
                                }
                            }

                            // resource-dropdown
                            &:hover .dropdown {
                                height: 405px;
                                border: 1px solid $white-off;
                            }

                            &:hover .resource-dropdown {
                                height: 250px;
                            }
                        }

                        // View all
                        .view-all {
                            background-color: $red;
                            padding: 25px;
                            color: $white;
                            font-weight: $fw-600;

                            &:hover {
                                color: $dark-white;
                            }
                        }


                        // modal What new
                        .what-new-btn {
                            position: relative;

                            span {
                                position: absolute;
                                top: -8px;
                                right: -18px;
                                width: 16px;
                                height: 16px;
                                background-color: $red;
                                color: white;
                                border-radius: 50%;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                font-size: $font-xs;
                                animation: topBottom .4s linear infinite;
                            }
                        }

                    }

                }
            }
        }
    }
}